@use "../color.scss" as clr;

body#home-page {
    min-height: 100vh;

    background-color: var(--page-bgc, hsl(0, 0%, 10%));
    transition: background-color 150ms ease-out;

    .header {
        padding: 4rem 0 2.5rem;
    }

    .page-title {
        display: inline-block;
        font-size: clamp(1.5rem, 10vw, 3rem);

        background-color: rgba(black, 30%);
        padding: 0.2em 0.5em;
        margin-top: 0;

        text-transform: capitalize;

        &::after {
            content: var(--text);
        }
    }

    .disclaimer {
        font-style: italic;
        font-size: 1.2rem;
        max-width: 80ch;
        color: #ccc;
    }

    .structures-list {
        list-style: none;
        padding-left: 0;

        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin: 0;

        font-size: clamp(1rem, 6vw, 1.5rem);

        li {
            display: inline-block;

            padding: 0.1em 0.3em;
            background-color: rgba(black, 20%);

            a {
                color: inherit;
                text-decoration: none;

                &.disabled {
                    pointer-events: none;
                    user-select: none;
                    filter: brightness(40%);
                }
            }

        }
    }
}
