@use "../color.scss" as clr;

#queue-page {
    .graphical-representation {
        display: flex;
    }

    .fifo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-width: 10em;

        .arrow {
            height: 1px;
            background-color: white;

            position: relative;

            &::after {
                content: "";

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

                border: 10px solid transparent;
                border-right: none;
                border-left-color: white;
            }
        }

        --pad: 1em;

        &.first-in {
            padding-right: var(--pad)
        }

        &.first-out {
            padding-left: var(--pad);
        }
    }

    .queue {
        display: grid;
        place-items: center right;

        position: relative;

        border: 3px solid white;
        padding: 1em;
        margin: 1.5em;

        .input-door,
        .output-door {
            --w: 1em;
            --h: 9em;

            width: var(--w);
            height: var(--h);
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            background-color: var(--bgc, blue);
        }

        .input-door {
            position: absolute;
            left: calc(var(--w) * -1);
            top: 50%;
            transform: translateY(-50%);
        }

        .output-door {
            position: absolute;
            right: calc(var(--w) * -1);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .items {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;

        gap: 1em;
    }

    .item {
        display: grid;
        place-items: center;

        border: 1px solid white;

        width: 8.5em;
        height: 8.5em;
        background-color: rgba(white, 10%);

        .value {
            font-weight: bold;
            font-size: 1.3rem;
        }
    }
}
