@use "sass:map";

$bg: #0a0a0a;
$text: #eee;

$data-structures-hue: (
    "linked-list": 320,
    "queue": 0,
    "stack": 40,
    "hash-map": 80,
    "tree": 120,
    "heap": 320,
    "graph": 0,
    "hashing": 40,
    "tries": 80,
    "advance-graphs": 120,
    "bit-manipulation": 0,
    "segment-tree": 40,
    "avl-tree": 80,
    "b-tree": 120,
);
