.container {
    $max-width: var(--max-page-width, 900px);
    $pref-margin: calc((100vw - 80vw) / 2); // 10vw in fact
    $min-margin: calc((100vw - #{$max-width}) / 2);

    $page-margin: max($pref-margin, $min-margin);

    --page-margin: #{$page-margin};

    // width: 100%;
    margin: 0 $page-margin;
}

.text-center {
    text-align: center;
    margin-inline: auto;
}

@function get-page-margin() {
    $max-width: var(--max-page-width, 600px);
    $pref-margin: calc((100vw - 80vw) / 2); // 10vw in fact
    $min-margin: calc((100vw - var(--max-page-width, 600px)) / 2);

    $page-margin: max($pref-margin, $min-margin);

    @return #{$page-margin};
}

@function string-repeat($count, $str) {
    $result: "";

    @for $_ from 1 through $count {
        $result: $result + $str;
    }

    @return $result;
}
